// Color avails

$white:               #ffffff !default;     //
$gray-00:             #f9f9f9 !default;     //
$gray-50:             #d6d6d6 !default;     //
$gray-100:            #909090 !default;     //
$gray-150:            #8a8a8a !default;     //
$gray-200:            #7d7d7d !default;     //
$gray-250:            #717171 !default;     //
$gray-300:            #63666a !default;     //
$gray-350:            #5e5e5e !default;     //
$gray-400:            #515151 !default;     //
$gray-450:            #4c4c4c !default;     //
$gray-500:            #404040 !default;     //
$gray-550:            #3d3d3d !default;     //
$gray-600:            #333333 !default;     //
$gray-650:            #2c2c2c !default;     //
$gray-700:            #2a2a2a !default;     //
$gray-750:            #222222 !default;     //
$gray-800:            #202020 !default;     //
$gray-850:            #1c1c1c !default;     //
$gray-900:            #191919 !default;     //
$gray-950:            #1a1a1a !default;     //
$gray-000:            #121212 !default;     //
$black:               #000000 !default;     //


$red:                 #d50000 !default;
$red-light:           #ef9a9a !default;
$red-electric: #ff0000 !default;
$red-deep:            #b71c1c !default;

$pink:                #ff0099 !default;
$pink-light:          #f0a1d5 !default;
$pink-electric:       #e900b6 !default;
$pink-deep:           #7f004c !default;

$purple:              #7b29ff !default;
$purple-light:        #cc86ff !default;
$purple-electric:     #9d00ff !default;
$purple-deep:         #4C1356 !default;

$violet:              #7c4dff !default;
$violet-light:        #b39ddb !default;
$violet-electric:     #6e00ff !default;
$violet-deep:         #311b92 !default;

$indigo:              #2962ff !default;
$indigo-light:        #9fa8da !default;
$indigo-electric:     #304ffe !default;
$indigo-deep:         #1a237e !default;

$blue:                #304ffe !default;
$blue-light:          #90caf9 !default;
$blue-electric:       #1633ff !default;
$blue-deep:           #0d47a1 !default;

$cyan:                #00acc1 !default;
$cyan-light:          #b2ebf2 !default;
$cyan-electric:       #18ffff !default;
$cyan-deep:           #006064 !default;

$teal:                #009688 !default;
$teal-light:          #b2dfdb !default;
$teal-electric:       #1de9b6 !default;
$teal-deep:             #039179 !default;

$green:               #8bc34a !default;
$green-light:         #c5e1a5 !default;
$green-electric:      #64dd17 !default;
$green-deep:          #1b5e20 !default;

$lime:                #cddc39 !default;
$lime-light:          #e6ee9c !default;
$lime-electric:       #aeea00 !default;
$lime-deep:           #827717 !default;

$yellow:              #fbe30d !default;
$yellow-light:        #fff59d !default;
$yellow-deep:         #f9a825 !default;
$yellow-electric:     #ffff00 !default;

$orange:              #ef6c00 !default;
$orange-light:        #ffe0b2 !default;
$orange-deep:         #e65100 !default;
$orange-electric:     #ff6d00 !default;

