/**
 * Basic style
 */
//noinspection SassScssResolvedByNameOnly
body {
    background-color: var(--background);

}

a {
    background-color: transparent;
    color: var(--link);

    &:hover {
        color: var(--linkhover);
    }
}
