@font-face {
    font-family: 'Electro Sans';
    src: url('ElectroSans-Regular.eot');
    src: local('Electro Sans Regular'), local('ElectroSans-Regular'),
        url('ElectroSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('ElectroSans-Regular.woff2') format('woff2'),
        url('ElectroSans-Regular.woff') format('woff'),
        url('ElectroSans-Regular.ttf') format('truetype'),
        url('ElectroSans-Regular.svg#ElectroSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

