// Colors
$blue: #37c0ff;
$indigo: #aebaff;
$purple: #9561e2;
$pink: #ff0099;
$red: #e3342f;
$orange: #fc7e00;
$yellow: #ffe600;
$green: #00ff6a;
$teal: #00ffe5;
$cyan: #57b3ff;

// Body
$body-bg: #2a2a2a;
$body-color: rgb(248, 250, 252);

// B4 colormap rewrites
$primary : rgba(247, 0, 193,1);
$info-dark: $teal;
$info-light: rgba(36, 73, 73,1);

$black: rgba(10, 10, 10,1);
$accent-color: #fbbc04;

$dark-bg0: rgba(41, 41, 41,1);
$dark-bg1: rgba(109, 109, 109,1);
$dark-bg2: rgba(101, 101, 101,1);
$dark-shadow: #f1f1f1;
$dark-color: rgba(248, 250, 252,1);
$dark-link: rgba(255, 206, 244,1);
$dark-accent: $indigo;
$dark-linkhover: rgba(255, 0, 197,1);
$dark-linkactive: rgba(255, 0, 197,1);

$light-bg0: rgba(232, 232, 232,1);
$light-bg1: rgba(108, 108, 108,1);
$light-bg2: rgba(61, 61, 61,1);
$light-shadow: #0e0e0e;

$light-color: rgba(0, 0, 0,1);
$light-accent: $indigo;
$light-link: rgba(1, 117, 127,1);
$light-linkhover: rgba(0, 158, 172,1);
$light-linkactive: rgba(0, 158, 172,1);



