

:root {
    // assigning root light theme
    --background: #{$background-lg};
    --background-inv: #{$background-dk};
    --boxlayer-00:  #{$boxlayer-lg-00};
    --boxlayer-01:  #{$boxlayer-lg-01};
    --boxlayer-02:  #{$boxlayer-lg-02};
    --bordercolor :  #{$border-color-lg};
    --fontcolor: #{$fontcolor-lg};
    --fontcolor-two: #{$fontcolor-lg-02};
    --fontcolor-inv: #{$fontcolor-dk};
    --accentcolor:  #{$prime-lg};
    --shadowcolor:  #{$boxshade-lg};

    --link:  #{$link-lg};
    --linkhover: #{$link-lg-hover};
    --linkactive:  #{$link-lg-active};

    --info: #{$info};
    --danger: #{$danger};
    --warning: #{$warning};
    --note: #{$note};
    --success: #{$success};


    --blur-main: #{$blur-main};
}



.DarkMode {
    --background: #{$background-dk};
    --background-inv: #{$background-lg};
    --boxlayer-00: #{$boxlayer-dk-00};
    --boxlayer-01: #{$boxlayer-dk-01};
    --boxlayer-02: #{$boxlayer-dk-02};
    --bordercolor :  #{$border-color-dk};

    --fontcolor: #{$fontcolor-dk};
    --fontcolor-two: #{$fontcolor-dk-02};

    --fontcolor-inv: #{$fontcolor-lg};
    --accentcolor:  #{$prime-dk};
    --shadowcolor:  #{$boxshade-dk};

    --link: #{$link-dk};
    --linkhover: #{$link-dk-hover};
    --linkactive: #{$link-dk-active};

    --info: #{$info};
    --danger: #{$danger};
    --warning: #{$warning};
    --note: #{$note};
    --success: #{$success};


    --blur-main: #{$blur-main}
}

