// Fonts
// @import '../assets/fonts/montserrat-regular/montserrat_latin.scss';

// Variables
@import 'variables',
"root",
'mixins',
'base/typo',
'base/base';


a {
    background-color: transparent;
    color: var(--link);

    &:hover {
        color: var(--linkhover);
    }
}

.form-control, form, .form-group {
    background-color: transparent;
    color: var(--fontcolor-inv);
}

.jumbotron {

    @include card(4);
    backface-visibility: hidden;
    backdrop-filter: var(--blur-main);

    background-color: transparent;
    color: var(--fontcolor);
    border: solid, 1px, var(--boxlayer-02);
}

.navbar {
    @include card(4);
    backface-visibility: hidden;
    backdrop-filter: var(--blur-main);

    button {
        color: #000;
    }
}

.navbar, .navbar-brand, .nav-link {

    background-color: transparent;
    //background-color: var(--boxlayer-02);
    color: var(--link);

    &:hover {
        color: var(--linkhover);
    }
}

.card {

    @include card(4);
    backface-visibility: hidden;
    backdrop-filter: var(--blur-main);

    background-color: transparent;
    // color: var(--fontcolor);
    border: solid, 1px, var(--boxlayer-02);

    .card-header {
        text-transform: uppercase;
        //background-color: var(--boxlayer-02);
        color: var(--fontcolor);
    }

    .card-body {
        // background-color: var(--boxlayer-02);
        color: var(--fontcolor);

        small {
            color: var(--fontcolor);
        }
    }

    .card-footer {
        // background-color: var(--boxlayer-02);
        color: var(--fontcolor);
    }
}

