:root {
  --background: #7d7d7d;
  --background-inv: #7d7d7d;
  --boxlayer-00: #f9f9f9;
  --boxlayer-01: #d6d6d6;
  --boxlayer-02: #909090;
  --bordercolor: #000000;
  --fontcolor: #000000;
  --fontcolor-two: #121212;
  --fontcolor-inv: #ffffff;
  --accentcolor: #4C1356;
  --shadowcolor: #1a1a1a;
  --link: #cc86ff;
  --linkhover: #9d00ff;
  --linkactive: #9d00ff;
  --info: #18ffff;
  --danger: #ff0000;
  --warning: #ff6d00;
  --note: #ffff00;
  --success: #64dd17;
  --blur-main: blur(20px);
}

.DarkMode {
  --background: #7d7d7d;
  --background-inv: #7d7d7d;
  --boxlayer-00: #1a1a1a;
  --boxlayer-01: #121212;
  --boxlayer-02: #1a1a1a;
  --bordercolor: #909090;
  --fontcolor: #ffffff;
  --fontcolor-two: #ffffff;
  --fontcolor-inv: #000000;
  --accentcolor: #cc86ff;
  --shadowcolor: #f1f1f1;
  --link: #cc86ff;
  --linkhover: #9d00ff;
  --linkactive: #9d00ff;
  --info: #18ffff;
  --danger: #ff0000;
  --warning: #ff6d00;
  --note: #ffff00;
  --success: #64dd17;
  --blur-main: blur(20px);
}

body {
  color: var(--fontcolor);
  font: normal, 89.2857142857%, "Montserrat", sans-serif;
  font-weight: 300;
}

a {
  color: var(--link);
  font: normal, 89.2857142857%, "roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin-bottom: 4px;
  font-family: "akzidenzgroteskbold", sans-serif;
  font-weight: 700;
  line-height: auto;
  color: #cc86ff;
}

h1,
h2,
.h1,
.h2 {
  font-family: "ag_buch_bqregular", sans-serif;
  font-size: 3rem;
}

/**
 * Basic style
 */

body {
  background-color: var(--background);
}

a {
  background-color: transparent;
  color: var(--link);
}

a:hover {
  color: var(--linkhover);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgba(214, 214, 214, 0.7);
  background-clip: border-box;
  border: 1px solid var(--bordercolor);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-backdrop-filter: var(--blur-main);
          backdrop-filter: var(--blur-main);
}

.card > hr {
  margin-right: 0;
  margin-left: 0;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1rem;
  color: var(--fontcolor);
}

.card-body small {
  color: var(--fontcolor);
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: var(--boxlayer-00);
  color: var(--fontcolor);
  text-transform: uppercase;
  border-bottom: 1px solid var(--bordercolor);
}

.card-header + h1,
.card-header h2,
.card-header .h1,
.card-header .h2 {
  font: normal, 89.2857142857%, "ag_buch_bqregular", sans-serif;
  font-size: 3.25rem;
  color: var(--fontcolor);
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: var(--boxlayer-00);
  border-top: 1px solid var(--bordercolor);
}


.card-img-top {
  flex-shrink: 0;
  width: 100%;
}

.card-group > .card {
  margin-bottom: 0.5rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }

  .card-group > .card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group > .card + .card {
    margin-left: 0;
    border-left: 0;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar {
  background-color: var(--boxlayer-00);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: var(--link);
}

.navbar-nav {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.22), 0 14px 56px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-nav .nav-link {
  padding-right: 0;
  padding-left: 0;
}

.navbar-nav .dropdown-menu {
  position: static;
  float: none;
  background-color: var(--boxlayer-00);
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: var(--fontcolor-two);
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
  background-color: var(--boxlayer-00);
  color: var(--link);
}

