@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(/fonts/montserrat-regular.ttf?6a9e85ac9247f5848db957b873c62e0c) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(/fonts/montserrat-medium.ttf?8b7179f87b4365d145bbe3033b4a3c66) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(/fonts/montserrat-semibold.ttf?acb878a397bf674d7baa32a3267e5a3c) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(/fonts/montserrat-bold.ttf?7432889d57c68a13a4984a756d923a07) format("truetype");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(/fonts/montserrat-extrabold.ttf?104feb7e9b5514db016426791a25b1da) format("truetype");
}

/* latin-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Roboto Mono Thin"), local("RobotoMono-Thin"), url(/fonts/robotoMono-grotesk-latin-ext.woff2?a009d49559d73098b187c663514a1db8) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Roboto Mono Thin"), local("RobotoMono-Thin"), url(/fonts/robotoMono-grotesk-latin.woff2?17f4661402646db18537d346ad2e0f37) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Mono Light"), local("RobotoMono-Light"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDgiWq_f7-7Ag.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Mono Light"), local("RobotoMono-Light"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDgiWqxf78.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhFq3-OXg.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhLq38.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Mono Medium"), local("RobotoMono-Medium"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjC4iGq_f7-7Ag.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Mono Medium"), local("RobotoMono-Medium"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjC4iGqxf78.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDwjmq_f7-7Ag.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDwjmqxf78.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* greek-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Roboto Mono Thin"), local("RobotoMono-Thin"), url(/fonts/robotoMono-grotesk-greek.woff2?085eb16ae3c263547513b67750f685be) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: local("Roboto Mono Thin"), local("RobotoMono-Thin"), url(/fonts/robotoMono-grotesk-greek-ext.woff2?6472d3cb5678fa1cd7bdc99113bdb2f8) format("woff2");
  unicode-range: U+0370-03FF;
}

/* greek-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Mono Light"), local("RobotoMono-Light"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDgiWq9f7-7Ag.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local("Roboto Mono Light"), local("RobotoMono-Light"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDgiWqyf7-7Ag.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* greek-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhHq3-OXg.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Roboto Mono"), local("RobotoMono-Regular"), url(https://fonts.gstatic.com/s/robotomono/v7/L0x5DF4xlVMF-BfR8bXMIjhIq3-OXg.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* greek-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Mono Medium"), local("RobotoMono-Medium"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjC4iGq9f7-7Ag.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Roboto Mono Medium"), local("RobotoMono-Medium"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjC4iGqyf7-7Ag.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/* greek-ext */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDwjmq9f7-7Ag.woff2) format("woff2");
  unicode-range: U+1F00-1FFF;
}

/* greek */

@font-face {
  font-family: "Roboto Mono";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Roboto Mono Bold"), local("RobotoMono-Bold"), url(https://fonts.gstatic.com/s/robotomono/v7/L0xkDF4xlVMF-BfR8bXMIjDwjmqyf7-7Ag.woff2) format("woff2");
  unicode-range: U+0370-03FF;
}

/*! Generated by Font Squirrel (https://www.fontsquirrel.com) on August 17, 2019 */

@font-face {
  font-family: "roboto";
  src: url(/fonts/roboto-black.eot?0cb6c851fe309478a5af50f50eede819);
  src: url(/fonts/roboto-black.eot?0cb6c851fe309478a5af50f50eede819) format("embedded-opentype"), url(/fonts/roboto-black.woff2?bda4e1be98403b0faf689f67fb7757bb) format("woff2"), url(/fonts/roboto-black.woff?7dc334b6028edd13d0db0353db7c269d) format("woff"), url(/fonts/roboto-black.ttf?5ebb24ee1112dd9562629375c387879a) format("truetype"), url(/fonts/roboto-black.svg?b99a9900bdcddba0c91d70897bda1239) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/roboto-bold.eot?64a0bfcbf8f8151c4f6d5136a4505861);
  src: url(/fonts/roboto-bold.eot?64a0bfcbf8f8151c4f6d5136a4505861) format("embedded-opentype"), url(/fonts/roboto-bold.woff2?188b397610a9a71bd931a3bd04ee2197) format("woff2"), url(/fonts/roboto-bold.woff?d098bf95886254f311c408f2fe6375c7) format("woff"), url(/fonts/roboto-bold.ttf?e07df86cef2e721115583d61d1fb68a6) format("truetype"), url(/fonts/roboto-bold.svg?273ecb1e31cacda41c2db2031b0c449b) format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/roboto-light.eot?f2a549a6657b988e01ed960534864c90);
  src: url(/fonts/roboto-light.eot?f2a549a6657b988e01ed960534864c90) format("embedded-opentype"), url(/fonts/roboto-light.woff2?75f1eaa630f079c692fd1c8dccf957c1) format("woff2"), url(/fonts/roboto-light.woff?16f774ff790fd4daf048e69dc30922dd) format("woff"), url(/fonts/roboto-light.ttf?88823c2015ffd5fa89d567e17297a137) format("truetype"), url(/fonts/roboto-light.svg?e491d9ba7aebc3b18bc1b0c79813a7cc) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/roboto-medium.eot?6dc75367c8fea0ecb7429aaed3a756a7);
  src: url(/fonts/roboto-medium.eot?6dc75367c8fea0ecb7429aaed3a756a7) format("embedded-opentype"), url(/fonts/roboto-medium.woff2?b1b808436b5eafe9a683fff584d80fea) format("woff2"), url(/fonts/roboto-medium.woff?46fc7af40f86b6fcc021d04e684469e8) format("woff"), url(/fonts/roboto-medium.ttf?58aef543c97bbaf6a9896e8484456d98) format("truetype"), url(/fonts/roboto-medium.svg?caca590abb295521177f939d99a7a2e0) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/roboto-regular.eot?b6feaac2a6e7111364cd69f5527409bc);
  src: url(/fonts/roboto-regular.eot?b6feaac2a6e7111364cd69f5527409bc) format("embedded-opentype"), url(/fonts/roboto-regular.woff2?455200cb007fe1212c668721d827c691) format("woff2"), url(/fonts/roboto-regular.woff?8a4fde9d14d3500ef8d45f7818612d84) format("woff"), url(/fonts/roboto-regular.ttf?11eabca2251325cfc5589c9c6fb57b46) format("truetype"), url(/fonts/roboto-regular.svg?3ceaf4047a977f48f13237861a7e0b43) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url(/fonts/roboto-thin.eot?a8e6902df2015c43c4e47cf3c15b8fa7);
  src: url(/fonts/roboto-thin.eot?a8e6902df2015c43c4e47cf3c15b8fa7) format("embedded-opentype"), url(/fonts/roboto-thin.woff2?0260e05cc2b4b800255522622d22a8d5) format("woff2"), url(/fonts/roboto-thin.woff?ee8e1caaae3e48ac20316180ffc7e2b3) format("woff"), url(/fonts/roboto-thin.ttf?321de678e592d0b8f44f1a82d7ca4b62) format("truetype"), url(/fonts/roboto-thin.svg?9d7ff7df6f89916a5ffa95e7cfc50049) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*! akzidenz outline */

@font-face {
  font-family: "akzidenzgroteskregular";
  src: url(/fonts/akzidenz-grotesk-bold-font-webfont.eot?f98172c51edcfd9da7e06415b06bb8e1);
  src: url(/fonts/akzidenz-grotesk-bold-font-webfont.eot?f98172c51edcfd9da7e06415b06bb8e1) format("embedded-opentype"), url(/fonts/akzidenz-grotesk-bold-font-webfont.woff2?561371891bb60b2a944332653454a915) format("woff2"), url(/fonts/akzidenz-grotesk-bold-font-webfont.woff?12c7dd25d5edf213fdff0f3d473ac2c7) format("woff"), url(/fonts/akzidenz-grotesk-bold-font-webfont.ttf?175da523694c177b6206ac3bbe24bb91) format("truetype"), url(/fonts/akzidenz-grotesk-bold-font-webfont.svg?7feb91613f4f2cb6bae5fb101b5007c8) format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "ag_buch_bqregular";
  src: url(/fonts/agbuchbq-boldoutline-webfont.eot?494b254389d7fc154aec6788b50debde);
  src: url(/fonts/agbuchbq-boldoutline-webfont.eot?494b254389d7fc154aec6788b50debde) format("embedded-opentype"), url(/fonts/agbuchbq-boldoutline-webfont.woff2?2b3f4b5346983134caaaa1d897a71f8d) format("woff2"), url(/fonts/agbuchbq-boldoutline-webfont.woff?e6e657498c767816aba17b23b1f96f95) format("woff"), url(/fonts/agbuchbq-boldoutline-webfont.ttf?2eb4679504b5833b73d03fbc05c5bae8) format("truetype"), url(/fonts/agbuchbq-boldoutline-webfont.svg?2f84c44dd06ecf370bfb389e87eab4df) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  #akzidenz regular */

@font-face {
  font-family: "akzidenzgroteskroman";
  src: url(/fonts/akzidenz-grotesk-roman-webfont.eot?25d0500284508d7a395825ee66577bbb);
  src: url(/fonts/akzidenz-grotesk-roman-webfont.eot?25d0500284508d7a395825ee66577bbb) format("embedded-opentype"), url(/fonts/akzidenz-grotesk-roman-webfont.woff2?523115d1f4505ec3d5704f51cc0fc7b5) format("woff2"), url(/fonts/akzidenz-grotesk-roman-webfont.woff?7e0c6b14018c1857e1bbbab90a2c95b3) format("woff"), url(/fonts/akzidenz-grotesk-roman-webfont.ttf?5f0707a2157e18f05d74006375070796) format("truetype"), url(/fonts/akzidenz-grotesk-roman-webfont.svg?170d060c5437d2a2b6b5396df91a4ce5) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  #akzidenz bold */

@font-face {
  font-family: "akzidenzgroteskbold";
  src: url(/fonts/akzidenz-grotesk-bold-font-webfont.eot?f98172c51edcfd9da7e06415b06bb8e1);
  src: url(/fonts/akzidenz-grotesk-bold-font-webfont.eot?f98172c51edcfd9da7e06415b06bb8e1) format("embedded-opentype"), url(/fonts/akzidenz-grotesk-bold-font-webfont.woff2?561371891bb60b2a944332653454a915) format("woff2"), url(/fonts/akzidenz-grotesk-bold-font-webfont.woff?12c7dd25d5edf213fdff0f3d473ac2c7) format("woff"), url(/fonts/akzidenz-grotesk-bold-font-webfont.ttf?175da523694c177b6206ac3bbe24bb91) format("truetype"), url(/fonts/akzidenz-grotesk-bold-font-webfont.svg?7feb91613f4f2cb6bae5fb101b5007c8) format("svg");
  font-weight: normal;
  font-style: normal;
}

/*  #akzidenz light */

@font-face {
  font-family: "akzidenzgrotesklight";
  src: url(/fonts/akzidenz-grotesk-light-webfont.eot?3bce609919390f5d9708b0bdfc012b08);
  src: url(/fonts/akzidenz-grotesk-light-webfont.eot?3bce609919390f5d9708b0bdfc012b08) format("embedded-opentype"), url(/fonts/akzidenz-grotesk-light-webfont.woff2?eecab236e90cdad19d5f750d0680d7a7) format("woff2"), url(/fonts/akzidenz-grotesk-light-webfont.woff?50b8207dd39e5311bdcff67d0064292d) format("woff"), url(/fonts/akzidenz-grotesk-light-webfont.ttf?e5269f181406dd5987eae15f16b7c975) format("truetype"), url(/fonts/akzidenz-grotesk-light-webfont.svg?a7134ba3d0f474083b11093548d1bc86) format("svg");
  font-weight: normal;
  font-style: normal;
}

