.jumbotron {

    @include card(4);
    backface-visibility: hidden;
    backdrop-filter: var(--blur-main);

    background-color: transparent;
    color: var(--fontcolor);
    border: solid, 1px, var(--boxlayer-02);
}
